<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1502872364588-894d7d6ddfab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80); background-size: cover;">
  <div class="container">
    <%= image_tag "309.png", {:style => "width:200px;"} %>
    <p class="p-3">Cocktails Bar in Amsterdam</p>
    <%= link_to "Add a Cocktail", new_cocktail_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="container mb-3">
  <h3 class="text-center m-3">
  All cocktails list
  <small class="text-muted"> - Free on fridays</small>
  </h3>
  <div class="row justify-content-center">
    <% @cocktails.each do |c| %>
    <div class="col-sm-6 col-md-6 col-lg-4 mt-3">
      <div class="card" style="min-width: 20rem; width: auto border-radius: 5px">
        <%= cl_image_tag c.photo.url, height: 300, crop: :fill, class: 'card-img-top cover-image' %>
        <div class="card-body">
          <h6><%= c.name %></h6>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <%= link_to "Show Details", cocktail_path(c), class: "small text-dark" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
